IMAGE_TAG=latest

APP_NETWORK_NAME=job-app-net

REDIS_IMAGE=redis:7.2-alpine
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_HEALTHCHECK_INTERVAL=10s
REDIS_HEALTHCHECK_TIMEOUT=3s
REDIS_HEALTHCHECK_RETRIES=5
REDIS_HEALTHCHECK_START_PERIOD=5s

API_IMAGE_NAME=job-api
API_PORT=8000
API_HOST_PORT=8000

WORKER_IMAGE_NAME=job-worker

FRONTEND_IMAGE_NAME=job-frontend
FRONTEND_HOST=0.0.0.0
FRONTEND_PORT=3000
FRONTEND_HOST_PORT=3000
FRONTEND_API_URL=http://api:8000
